:root {
--base-light: #FFE4C7;
--base-medium: #FFD8AD;
--base-dark: #B38E68;
--blue-light: #ADE9FF;
--blue-dark: #569AB3;
--light-grey: #F0F4F6;
--medium-grey: #C4D3DD;
--dark-grey: #B0C4D2;
--black: #1A171B;
}

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
*/

body {
  font-family: 'IBM Plex Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}