:root {
--base-light: #FFE4C7;
--base-medium: #FFD8AD;
--base-dark: #B38E68;
--blue-light: #ADE9FF;
--blue-dark: #569AB3;
--light-light-blue: #E0FFE5;
--light-grey: #F0F4F6;
--medium-grey: #C4D3DD;
--dark-grey: #B0C4D2;
--black: #1A171B;
}

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'IBM Plex Mono', monospace;
*/

body {
  font-family: 'IBM Plex Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: var(--blue-dark);
}

.grid-container {
  background-image: linear-gradient(to right, var(--base-light), #fff, var(--light-light-blue) );
  margin: 4% 1% 0% 1%;
/*   padding: 1%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  grid-template-areas:
    "header . . . ."
    ". announcement announcement announcement ."
    "col1 col2 col3 col4 col5"
    ". . . . footer";
}

#header {
  grid-area: header;
}

#col1 {
  grid-area: col1;
}

#announcement {
  grid-area: announcement;
  background-color: var(--blue-light);
  border: solid 1px var(--base-dark);
  color: var(--black);
  text-align: center;
}

#footer {
  grid-area: footer;
}
